.service-main{
    background-color:#0E2154;
    display: flex;
    justify-content: center;
 
}
.service-section {

    box-sizing: border-box;
    padding: 71px;
  height: 914px;
  width: 100%;
  background-image: url('../../assets/back.png');
  background-color: white;
  
}

.global img {
  width: 100px;
  height: 100px;
}

.service-section {
    padding-top: 70px;
  display: flex;
  gap: 2%;
}
.left-section {
  width: 67%;
}
.right-section {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 33%;
}
.right-section .right-inner {
      border: 1px solid #0F46BD;
      width: 100%;
      padding: 30px 20px;
      margin-top: 10px;
    border-radius: 90px;
    text-align: center;
    color:#6BADE5;

    line-height: 10px;
}
.right-section .right-ss{
    font-size: 24px;
    font-weight: 600;
    line-height: 10px;
}

.upper-section{
 display: flex;
 /* background-color: aliceblue; */
 justify-content: space-between;
}
.upper-section .inner-left {
    max-width: 520px;
    color: #6BADE5;



}

.upper-section .inner-left .big-font{
    font-size: 37px;
    font-weight: 600;
}
.upper-section .inner-left .small-font{
    font-size: 18px;
}
.upper-section .inner-right{
    color: #5596CC;
    font-size: 20px;
display: flex;
flex-direction: column;
gap: 10px;
}
.upper-section .inner-right .global{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.upper-section .inner-right .inter{
    display: flex;
    flex-direction: column;
    align-items: center;
 ;
}
.upper-section .inner-right .inter .inter-lower{
    background-color: #6BADE5;
    /* padding: 10px; */
    /* display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center; */
    text-align: center;
width: 104px;    
height: 101px;
    
    color: #091637;
    border-radius:12px ;
}
.inter-lower p{
    line-height: 5px;

}



.lower-section{
    display: flex;
    flex-direction: column;
    margin-top: 132px;

}
.lower-section .product{
    background-color:#6BADE5 ;
    display: block;
    padding: 0;
    height: 36px;
    width: 380px;
    display: flex;
    margin-bottom: 54px;
    align-items: center;
}
.lower-section .product p{
    font-size: 24px;
    font-weight: 600;
    color: #0E2154;
    margin-left: 10px;
} 
.lower-section .lower-icon{
    /* background-color: #6BADE5; */
    display: flex;
    flex-wrap: wrap;
    /* gap: 53.72px; */

}

.lower-section .lower-icon .icon{
    align-items: center;
    /* padding: 5px; */
margin-right: 40px;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    color: #6BADE5;
}
.lower-section .lower-icon .icon p{
    margin-top: 8px;

}
.lower-section .lower-icon .icon img{
    width: 64.58px;
    height: 51.25px;
    object-fit:contain;

}

