.industry {
  width: 100%;
  /* height: 968px; */
  background-color: #0e2154;
  display: flex;
  /* padding: 2rem; */
  padding-bottom: 30px;
  justify-content: center;
}
.industry-section {
  box-sizing: border-box;
  /* background-color:aliceblue; */
  width: 1501px !important ;
}
.industry-section .in-upper {
  color: #6bade5;

  display: flex;
}
.industry-section .in-upper-right {
  width: 60%;
  margin-right: 2rem;
}
.industry-section .in-upper-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.industry-section .in-upper-left img {
  width: 100%;
  object-fit: cover;
}
.industry-section .in-upper-right-big {
  font-size: 37px;
  font-weight: 600;
  color: #6bade5;
  line-height: 57px;
}
.industry-section .in-upper-right-small {
  font-size: 18px;
  line-height: 27px;
}
.industry-section .in-lower {
  padding-left: 0 !important;
  padding: 20px;
  color: #6bade5 !important;
  display: flex;
  /* justify-content: space-between; */
}
.industry-section .in-lower .in-lower-left {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}
.industry-section .in-lower .in-lower-left-big {
  font-size: 37px !important;
  font-weight: 600;
}
.industry-section .in-lower .in-lower-left-small {
  font-size: 18px;
  margin-top: 0px;
}

.industry-section .in-lower .in-lower-right {
  background-color: #091637;
  padding: 2rem 4rem;
  margin-left: 7rem;
  margin-right: 3rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 37px;
  justify-content: space-evenly;
  align-items: center;
  max-width: 60%;
}
.industry-section .in-lower .in-lower-right-icon {
  margin-left: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  /* border: 2px solid white; */
}
.industry-section .in-lower .in-lower-right-icon img {
  object-fit: contain;
  width: max-content;
}



@media only screen and (max-width: 950px) {
  .industry-section .in-upper {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .industry-section .in-upper .in-upper-left {
    width: 100%;
  }
  .industry-section .in-upper .in-upper-right {
    padding: 50px;
    width: 80%;
  }
  .industry-section .in-upper .in-upper-right-big {
    /* font-size: 33px; */
  }

  .industry-section .in-lower {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .in-lower-right{
    margin: 0px !important;
    padding: 0;
  }

}
