.industry {
  width: 100%;
  /* height: 968px; */
  background-color: #0e2154;
  display: flex;
  /* padding: 2rem; */
  padding-bottom: 30px;
  justify-content: center;
}
.industry-section {
  padding: 94px 0 70px 0;
  box-sizing: border-box;
  /* background-color:aliceblue; */
  width: 1501px !important ;
}
.industry-section .in-upper {
  color: #6bade5;

  display: flex;
}
.industry-section .in-upper-right {
  width: 60%;
  /* margin-right: 2rem; */
}
.industry-section .in-upper-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.industry-section .in-upper-left img {
  width: 100%;
  object-fit: cover;
}
.industry-section .in-upper-right-big {
  font-size: 37px;
  font-weight: 600;
  color: #6bade5;
  line-height: 57px;
  margin-bottom: 34px;
}
.industry-section .in-upper-right-small {
  font-size: 18px;
  line-height: 27px;
}
.industry-section .in-lower {
  padding-left: 0 !important;
  padding: 20px;
  color: #6bade5 !important;
  display: flex;
  margin-top: 70px;
  /* justify-content: space-between; */
}
.industry-section .in-lower .in-lower-left {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}
.industry-section .in-lower .in-lower-left-big {
  font-size: 37px !important;
  font-weight: 600;
  margin-bottom: 30px;
}
.industry-section .in-lower .in-lower-left-small {
  font-size: 18px;
  margin-top: 0px;
}

.industry-section .in-lower .in-lower-right {
  background-color: #091637;
  padding: 37px;
  /* margin-left: 7rem;
  margin-right: 3rem; */
  display: flex;
  flex-wrap: wrap;
  border-radius: 37px;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  gap: 20px;
}
.industry-section .in-lower .in-lower-right-icon {
  /* margin-left: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 13%;
  /* border: 2px solid white; */
}
.industry-section .in-lower .in-lower-right-icon img {
  object-fit: contain;
  width: max-content;
}
@media (max-width: 1300px) {
  .industry-section .in-lower-right {
    font-size: 12px;
    min-width: 67% !important;
    margin-left: 30px;
  }
  .industry-section .in-lower-right img {
    width: 35px !important;
  }
}

@media (max-width: 950px) {

  .industry-section .in-upper {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .industry-section .in-upper .in-upper-left {
    width: 100%;
  }
  .industry-section .in-upper .in-upper-right {
    padding: 50px;
    width: 100%;
  }
  .industry-section .in-upper .in-upper-right-big {
    /* font-size: 33px; */
  }

  .in-upper-right{
    margin-left: 30px !important;
    margin-right: 30px !important;
    padding: 30px !important;
  }
  .industry-section .in-lower {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 0;
    gap: 70px;
  }
  .in-lower-right {
    margin: 0px !important;
    padding: 0;
  }
  .in-lower .in-lower-left {
    min-width: 60vw !important;
  }
  .in-lower .in-lower-left-big {
    /* min-width: 100vw; */
  }
  .in-lower .in-lower-right {
    max-width: 100vw !important;
  }
}

@media (max-width: 600px) {
  .in-upper-right-big {
    font-size: 35px !important;
  }
}
