.subhero{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/subhero.png");

}
.subhero-section{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 1501px;

}
.subhero-section .sub-big{
    font-size: 37px;
    font-weight: 600;
    color:#6BADE5;
}
.subhero-section .sub-small{
    font-size: 18px;
    font-family: 400;
    color: #6BADE5;
}