.subhero{
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/subhero.png");

}
.subhero-section{
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 1501px;

}
.subhero-section .sub-big{
    padding-left: 20px;
    margin-left: 30px;
    font-size: 37px;
    font-weight: 600;
    color:#6BADE5;
}
.subhero-section .sub-small{
    font-size: 18px;
    font-family: 400;
    color: #6BADE5;
}